<nav class="navbar">
    <div class="container">
        <h1>Notre Boutique</h1>
        <div class="nav-links">
            <a href="/">Accueil</a>
            <a href="/products.html">Produit</a>
            <a href="/cart.html" class="cart-link">
                Panier
                <span id="cart-badge" class="badge">0</span>
            </a>
            <div class="auth-links">
                <a href="/profile.html" id="profileLink" style="display: none;">Mon Profil</a>
                <a href="/login.html" id="loginLink">Connexion</a>
                <a href="/register.html" id="registerLink">Inscription</a>
                
                <button id="logoutBtn" style="display: none;" class="btn">Déconnexion</button>
            </div>
        </div>
    </div>
</nav> 